<div class="d-flex flex-column justify-content-center min-vh-100 border align-items-center">
  <h1 class="user-head">BUDGET APP</h1>

  <div class="text-center border-secondary">
    <h2 class="app__name">Budgetly</h2>
    <p class="app__description"> Your Ultimate Budgeting tool!</p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary w-100 fs-5 login-btn" %>
    <p class="para"> 
    <%= link_to "Sign up", new_user_registration_path, class: "sign_up" %>
    </p>    
  </div>
</div>