<div class="home__page">
  <div class="logo">
    <h2 class="title__name"> Budgetlly </h2>
  </div>
  <div class="registrations">
    <button class="new-btn"><%= link_to "Log In", new_user_session_path, class: "btn-link" %></button>
    <p><%= link_to "Sign Up", new_user_registration_path, class: "sign__up" %></p>
  </div>
</div>
